@import "tailwindcss";
@source '../views';
@theme {
    --font-sans: "M PLUS 1", "Noto Sans JP", serif;
    --spacing-header: 5vh;
}

button,
button:focus {
    cursor: pointer;
}

.todo-done {
    cursor: pointer;
}
